@use "sass:map";
@use "../../../util/styles/variables";

$red: map.get(variables.$theme_color, "red");
$yellow: map.get(variables.$theme_color, "yellow");
$green: map.get(variables.$theme_color, "green");

// CSS for Heading component

.heading {
    clip-path: polygon(0% 0%, 100% 0%, 40% 100%, 0% 100%);
}

// Accent colors.
.Information {
    background-color: rgb($red, 0.7);
}
.Topics {
    background-color: rgb($yellow, 0.8);
}
.Gourmet {
    background-color: rgb($green, 0.7);
}
