@use "../../../util/styles/variables";

$small: map-get(variables.$breakpoint, mobile);

// Top-page layouts

// Large Size

.cover{
    width: 100%;
    height: 540px;
    position: absolute;
    display: flex;
    align-items: center;
}

.snapshots{
    height: 540px;
    width: 100%;
    position: absolute;
    margin: auto;
    margin-bottom: 35px;
}

.wrapper{
    max-width: calc(#{$small} * 2);
    margin: auto;
    display: flex;
}

.board{
    width: 54.5%;
    height: 100%;
    display: flex;
}

.aside{
    width: 45.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

// Medium Size
@media screen and (max-width: calc(#{$small} * 2)) {
    .cover{
        display: none;
    }
    .snapshotsMobile{
        position: fixed;
        top: 4rem;
        width: 100%;
        height: 100%;
    }
    .wrapper{
        max-width: #{$small};
        margin: auto;
        display: block;
        height: auto;
    }
    .board{
        width: 100%;
        margin-top: 10px;
        display: block;
    }
    .aside{
        width: 100%;
        margin-top: 20px;
        display: block;
    }
    .information{
        height: 145px;
        margin-bottom: 20px;
    }
    .articleLists{
        height: auto;
    }
}
