@use "../../util/styles/variables";

// CSS for footer components

.child{
    font-size: 0.85rem;
    padding-left: 8px;
    border-left: 2px #999 solid;
}

/* Large Size */
.container{
    display: flex;
    justify-content: space-between;
}

.column{
    width: 100%;
}

/* Mobile Size */
@media screen and (max-width: #{ map-get(variables.$breakpoint, "mobile")}){
    .container{
        display: block;
    }
    .column{
        display: flex;
        flex-direction: column;
        hr{
            order: 0;
        }
        h2{
            order: 1;
        }
        div{
            order: 2;
        }
    }
}