@use "sass:map";
@use "../../../util/styles/variables" as v;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

$sm: map.get(v.$breakpoint, "mobile");

$c: v.$gourmet_color;

$bg: map.get($c, "bg");
$main: map.get($c, "main");
$sub: map.get($c, "sub");
$accent: map.get($c, "accent");

$orange: #ffc17f;
$gray: #6c5e58;
$lightgray: #cab2a7;

$alpha: #ffffff00;
$white: #ffffff;

// ユーザーがアクセス可能な要素に用いるフォント
.accessable {
    font-family: "Shippori Antique B1";
}

.bgBase {
    background: linear-gradient(
        to bottom right,
        rgba($orange, 0.5),
        rgba($orange, 0.7)
    );
}

.page {
    display: flex;
    max-width: calc($sm * 2);
    margin: auto;
    flex-wrap: wrap;
}

.mapContainer {
    display: flex;
    justify-content: center;
    width: 60%;
    //
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.searchOptionsToggleBtn {
    background-color: $lightgray;
}

.drawer {
    transition: height 600ms ease;
}

.searchOptions {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    order: 2;

    // border: 1px $lightgray solid;
}

.searchOptionsBtn {
    background-color: $gray;
}

.searchLinks {
    display: flex;
    width: 40%;
    justify-content: center;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    order: 1;

    background-color: $gray;
}

.aside {
    border: 1px black solid;
    width: 100%;
    order: 3;
    display: flex;
    justify-content: center;
}
.pageNumberBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    //
    width: 35px;
    height: 35px;
    //
    margin-left: 1px;
    margin-right: 1px;
    //
    font-size: 18px;
}

//Gourmetのモーダルの共通スタイル
.modal {
    border-width: 0px !important; //なんか!importantしないとデフォの共通スタイルに負けるっぽい
    .header {
        background-color: $bg;

        .title {
            color: $accent;
            font-size: x-large;
            font-weight: bold;
        }
        .title::before {
            content: "・";
        }
        .closeButton {
            color: white;
        }
    }
    .hr {
        border-width: 0px !important;
    }
}

@media screen and (max-width:#{calc(2 * $sm)}) {
    .page {
        max-width: $sm;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .mapContainer {
        width: 100%;
        height: 30vh;
    }

    .searchOptions {
        order: 1;
        width: 90%;
    }

    .searchLinks {
        order: 2;
        width: 100%;
    }
}
