@use "sass:map";
@use "../styles/Gourmet.module.scss";
@use "../../../util/styles/variables" as v;

$breakpoint: v.$breakpoint;

.menusScroll {
    overflow-y: scroll;
    //overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    div {
        scroll-snap-align: center;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal {
    @extend .modal;
    .header {
        .title::before {
            content: "";
        }
    }
}

.details {
    $width: min(86%, 750px);
    margin-left: calc((100% - $width) / 2);
    margin-right: calc((100% - $width) / 2);
}

.menuCard {
    width: min(90%, 850px);
    margin-top: 15px;
    margin-bottom: 15px;

    @media (min-width: map-get($breakpoint, tablet)) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
