@use "sass:map";
@use "../../../util/styles/variables" as v;

$alpha: rgba(#ffffff, 0);

$c: v.$gourmet_color;
$bg: map.get($c, "bg");
$main: map.get($c, "main");
$sub: map.get($c, "sub");
$accent: map.get($c, "accent");

$orange: #ffc17f;
$gray: #6c5e58;
$lightgray: #cab2a7;

.none {
    -ms-overflow-style: none; //For IE, Edge
    scrollbar-width: none; //For FireFox
}
.none::-webkit-scrollbar {
    display: none; //For Chrome, Safari
}

.filterBox {
    .bar {
        background-color: $lightgray;

        .drag {
            background-color: $gray;
        }
    }
}

.searchLinkList {
    .bar {
        background-color: $alpha;

        .drag {
            background-color: $gray;
        }
    }
}
