$breakpoint: (
    mobile: 480px,
    tablet: 768px,
);

$modal: (
    veil-color: rgba(50, 50, 50, 70%),
    border-color: rgb(200, 200, 200),
);

// AMie's Accent Color Set.
$theme_color: (
    "green": #9cffbc,
    "yellow": #ffe667,
    "red": #ff6f6f,
    "blue": #afe1ff,
    "purple": #dccaff,
);

// AMe's Gourmet のテーマカラー
$gourmet_color: (
    "bg": #f8daab,
    "main": #f3a14f,
    "sub": #eb713d,
    "accent": #ae4a29,
);
